# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\fdhar\OneDrive\Bureau\DOSSIER\ecole\adi\ADI 2\projet\poker\Poker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
